<div class="login-page-form">
  <div class="login-page-form-logo">
    <img src="/assets/imgs/welcome.svg" alt="welcome" class="login-page-form-logo__begin">
    <img src="/assets/imgs/logo.svg" alt="logo" class="login-page-form-logo__middle">
    <img src="/assets/imgs/end.svg" alt="end" class="login-page-form-logo__end">
  </div>
  <div class="login-page-form-avatar-picture">
    <div class="login-page-form-avatar-picture__logo">
      <div>
        <img src="/assets/imgs/backpack.png" alt="backpack">
      </div>
      <div class="login-page-form-avatar-picture__mini-logo">
        <img src="/assets/imgs/bookmark.svg" alt="bookmark">
        <img src="/assets/imgs/share.svg" alt="share">
        <img src="/assets/imgs/gift.svg" alt="gift">
      </div>
    </div>
    <login></login>
  </div>
</div>
