.page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 78px;

}
.page-form__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px
}

.page-form__logo-begin {
  width: 167px;
  height: 38px;
}

.page-form__logo-middle {
  width: 475px;
  height: 183px;
}

.page-form__logo-end {
  width: 64px;
  height: 53px;
}

.page-form__pictures{
  display: flex;
  gap: 40px;
}

.page-form__picture-logo {
  display: flex;
  flex-direction: row;
  height: 321px;
  width: 280px;
  flex-wrap: nowrap;
}

.page-form__picture-logo-img{
  border-radius: 50px;
  height: 321px;
  width: 249px;
}

.page-form__mini-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  margin-left: -25px;


}

.page-form__mini-logo img{
  width: 42px;
  height: 42px;
}

