<div class="page-form">
  <div class="page-form__logo">
    <img src="/assets/imgs/welcome_message/welcome.svg" alt="welcome" class="page-form__logo-begin">
    <img src="/assets/imgs/welcome_message/logo.svg" alt="logo" class="page-form__logo-middle">
    <img src="/assets/imgs/welcome_message/end.svg" alt="end" class="page-form__logo-end">
  </div>
  <div class="page-form__pictures">
    <div class="page-form__picture-logo">
      <img class="page-form__picture-logo-img" src="/assets/imgs/backpack.png" alt="backpack">
      <div class="page-form__mini-logo">
        <img class="page-form__img" src="/assets/imgs/bookmark.svg" alt="bookmark">
        <img class="page-form__img" src="/assets/imgs/share.svg" alt="share">
        <img class="page-form__img" src="/assets/imgs/gift.svg" alt="gift">
      </div>
    </div>
    <login></login>
  </div>
</div>
