@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/OpenSans-Light.ttf") format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/OpenSans-SemiBold.ttf") format('ttf');
}


